asgiref==3.2.3
attrs==19.3.0
autobahn==19.11.1
Automat==0.8.0
beautifulsoup4==4.8.2
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
constantly==15.1.0
cryptography==2.8
Django==3.0.14
django-crispy-forms==1.8.1
djangorestframework==3.10.3
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
Pillow==6.2.1
pkg-resources==0.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.19
PyHamcrest==1.9.0
pyOpenSSL==19.1.0
pytz==2019.3
requests==2.22.0
selenium==3.141.0
service-identity==18.1.0
six==1.13.0
soupsieve==1.9.5
sqlparse==0.3.0
txaio==18.8.1
urllib3==1.25.8
virtualenv==16.7.8
zope.interface==4.7.1
