{% extends 'app/layout.html' %}
{% block content %}
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="bradcam_text">
            <h3>StartUps</h3>
        </div>
    </div>
</div>
<br>
<br>
<div class="row">
{% for o in obj %}
<div class="col-sm-3">
<div class="card" style="width: 18rem; align: center; width: 18rem; margin-left: auto; margin-right: auto; margin-bottom: 15px">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{o.name}}</li>
    <li class="list-group-item">{{o.typee}}</li>
  </ul>
</div>
</div>
{% endfor %}
</div>


<br>
<br>
<hr>

{% endblock %}

